:root {
  --netflix-red: #e50914;
  --netflix-black: #141414;
  --white-700: #aaaaaa;
  --discord-blue: #6361ce;
}

/*----- CONFIG -----*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 20px 0 10px;
}

/*----- MAIN -----*/

body {
  background: var(--netflix-black);
  font-family: "Times New Roman", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container .nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .container .nav-container .logo {
  margin-right: 20px;
  margin-left: 5px;
  color: var(--netflix-red);
  font-family: "Arial Black", Times, serif;
  font-size: 32px;
}

header .container .header-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .container .header-icons-container i {
  margin-left: 5px;

  cursor: pointer;
}

header div nav a {
  text-decoration: none;
  color: var(--white-700);
  margin-right: 10px;
}

header nav a:hover {
  color: white;
}

/*----- MAIN MOVIE -----*/

.main-movie {
  height: 480px;
  margin-bottom: 15px;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 16px;
}

.main-movie .container {
  width: 70%;
}

.main-movie .title {
  margin-top: 15%;
  font-size: 45px;
  font-family: "Trebuchet MS", Arial, serif;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.button {
  margin-right: 15px;
  padding: 15px 30px;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s ease all;
}

.button:hover {
  background-color: white;
  color: black;
}

.button i {
  margin-right: 8px;
}

/*----- CAROUSEL -----*/

.carousel-movies {
  margin-top: 5px;
}

.movie-box {
  height: 100%;
  width: 100%;
  display: block;

  cursor: pointer;
}

.item-container img {
  border-radius: 8px;

  transition: transform 0.5s ease;
}

.item-container :hover {
  transform: scale(0.95);
}

/*----- CUSTOM INPUT -----*/

.custom-input {
  padding: 5px;
  border: 1px solid white;
}

.custom-input i {
  margin-right: 3px;
}

.custom-input:focus {
  padding: 5px;
  border: 1px solid white;
}

.custom-input input {
  color: white;
  background: none;
  border: none;
}

.custom-input input:focus {
  outline: none;
}